.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-theme,
.dark-theme *:not(.bg-clip-text) {
  color: white;
}
body,
body * {
  color: black;
}

.dark-theme,
.dark-theme div {
  background-color: #282c34;
}
body,
body div {
  background-color: rgb(243 244 246);
}
body {
  min-height: 100vh;
  padding: 1rem;
}
body > * {
  display: block;
}

body .moon,
.dark-theme .sun {
  display: none;
  max-width: 2rem;
}
body .sun,
.dark-theme .moon {
  display: block;
  max-width: 2rem;
}

#showDetail,
.centerItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#navBar {
  justify-content: space-between;
}
