.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-theme,
.dark-theme * {
  color: white;
}
.light-theme,
.light-theme * {
  color: black;
}

.dark-theme,
.dark-theme > * {
  background-color: #282c34;
}
.light-theme,
.light-theme > * {
  background-color: rgb(243 244 246);
}
.dark-theme,
.light-theme {
  min-height: 100vh;
  padding: 1rem;
}
.dark-theme *,
.light-theme * {
  margin: 1rem;
}

.themeButton {
  display: block;
}
